
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 2rem;
}

.card{
    width: 60rem;
    height: 19rem;
    border-radius: 0.5rem 0.5rem;
    border: 0.1rem solid #e5dada;
    box-shadow: 0.2rem 0.2rem 0.1rem #f4ecec;
}

.section1 {
    height: 100%;
    width: 18rem;
}

.section1 img{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.section2 {
    position: absolute;
    height: 100%;
    width: 30rem;
    left: 18rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.section2 .sub-section1 h2{
    font-size: 1.3rem;
    color: rgb(148 141 141);
}

.section2 .sub-section2 {
    display: flex;
    align-items: center;
    border-bottom:0.1rem solid #e9dfdf;
}

.section2 .sub-section2 img{
    width: 3.2rem;
    height: 2rem;
    margin: 0rem 1rem 1rem 0rem;
    border: 0.1rem solid #e9dfdf;
    padding: 0.4rem;
    border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
}

.section2 .sub-section3{
    display: flex;
    align-items: center;
}

.section2 .sub-section3 .image-section{
    height: 7rem;
    width: 14.5rem;
    padding: 0rem 4rem 0rem 0rem;
}

.section2 .sub-section3 .image-section img{
    height: 100%;
    width: 100%;
}

.section2 .sub-section3 .para-section{
    margin-top: 0.7rem;
}

.section2 .sub-section3 .para-section .para-text{
    font-size: 0.7rem;
    color: rgb(148 141 141);
    margin-top: -0.4rem;
    font-weight: 500;
}

.section2 .sub-section3 .para-section .para-text img{
    width: 0.6rem;
    height: 0.6rem;
    color: black;
}

.section2 .sub-section4{
    padding: 0rem 1rem 0rem 0rem;
}

.section2 .sub-section4 .tabs-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border: 0.1rem solid #e9dfdf;
    border-radius: 2rem;
}

.section2 .sub-section4 .tabs-section .tabs{
    width: 9rem;
    height: 100%;
}

.section2 .sub-section4 .tabs-section .tabs img{
    width: 100%;
    height: 100%;
    padding: 0.5rem 3.8rem;
    filter: invert(1);

}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.black{
    background-color: black;
}

.radius-right{
    border-radius:0rem 2rem 2rem 0rem;
}

.radius-left{
    border-radius: 2rem 0rem 0rem 2rem;
}



.section3{
    position: absolute;
    height: 62%;
    left: 48rem;
    top: 1.2rem;
    width: 12rem;
    border-left: 0.1rem solid #e9dfdf;
}

.section3 .sub-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem;
}

.section3 .sub-section .subs{
    margin: 0rem 0rem 1rem 0rem;
}

.section3 .sub-section .subs h2{
    font-size: 1rem;
    color: #6f6b6b;
}

.section3 .sub-section .subs h4{
    font-size: 0.7rem;
    color: #6f6b6b;
}

.section3 .sub-section .subs h4 img{
    width: 1rem;
    height: 1rem;
}

/* media queries to make it responsive */


@media screen and (max-width:992px){
    .card {
        height: 14rem;
    }

    .section1 {
        width: 13rem;
    }

    .section2 {
        width: 21rem;
        left: 13rem;
        padding: 1.1rem;
    }

    .section2 .sub-section1 h2 {
        font-size: 1rem;
    }

    .section2 .sub-section2 img {
        width: 2.2rem;
        height: 1.7rem;
        padding: 0.3rem;
    }

    .section2 .sub-section3 .image-section {
        height: 4rem;
        width: 6.5rem;
        padding: 0rem 1rem 0rem 0rem;
    }

    .section2 .sub-section4 .tabs-section {
        height: 1.8rem;
    }

    .section2 .sub-section4 .tabs-section .tabs {
        width: 6rem;
    }

    .section2 .sub-section4 .tabs-section .tabs img {
        padding: 0.3rem 1.8rem;
    }

    .section3 {
        left: 34rem;
    }
}


@media screen and (max-width: 768px){

    .card {
        width: 18rem;
        height: 34.3rem;
        border-radius: 1rem 1rem;
        box-shadow: 0.1rem 0.1rem 0.1rem #f4ecec;
    }

    .section1 {
        height: 15rem;
        width: 100%;
    }

    .section1 img {
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }

    .section2 {
        width: 100%;
        left:unset;
        top: 15rem;
        padding:unset;
    }

    .section2 .sub-section1{
        padding: 1rem 0 0 1rem;
    }

    .section2 .sub-section1 h2 {
        font-size: 0.8rem;
    }

    .section2 .sub-section2 {
        padding: 0 0 0 1rem;
    }

    .section2 .sub-section2 img {
        width: 2.1rem;
        height: 1.4rem;
        margin: 0rem 0.3rem 1.5rem 0rem;
        padding: 0.2rem;
        border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
    }

    .section2 .sub-section3 {
        position: absolute;
        top: 12rem;
    }

    .section2 .sub-section3 .image-section {
        height: 6rem;
        padding: 1.5rem 1rem 1rem 1rem;
        position: absolute;
        top: -13rem;
        left: 11rem;
    }

    .section2 .sub-section3 .para-section {
        margin-top: -1.3rem;
        padding: 0 0 0 1rem;
    }

    .section2 .sub-section4 {
        position: relative;
        top: 11rem;
        width: 100%;
        padding:unset;
    }

    .section2 .sub-section4 .tabs-section {
      
        height: 2.9rem;
      
        border-radius: 0 0 1rem 1rem;
        width: 18.2rem;
        margin-left: -0.2rem;
    }

    .section2 .sub-section4 .tabs-section .tabs {
        width: 6rem;
    }

    .section2 .sub-section4 .tabs-section .tabs img {
        padding: 0.7rem 1.8rem;
    }

    .radius-left {
        border-radius: 0rem 0rem 0rem 1rem;
    }

    .radius-right {
        border-radius: 0rem 0rem 1rem 0rem;
    }

    .section3 {
        height:unset;
        left:unset;
        top: 20.2rem;
        width: 100%;
        border-left:unset;
    }

    .section3 .sub-section {
        flex-direction: unset;
        justify-content: space-around;
        padding: 1rem 5rem 1rem 0rem;
    }

    .section3 .sub-section .subs h2 {
        color: #413333;
        font-weight: bold;
    }
}

@media screen and (max-width: 312px){
    .card {
        width: 16rem;
    }
    .section2 .sub-section3 .image-section {
        padding: 1.2rem 1rem 1rem 2rem;
        left: 9rem;
    }

    .section2 .sub-section4 .tabs-section {
        width: 16.2rem;
    }
}